nav {
	background-color: #333;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 10px;
}

li>a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 15px;
	transition: all 0.3s ease-in-out;
}

li>a:hover {
	background-color: #555;
}

.nav-button {
	background-color: #4CAF50;
	border: none;
	border-radius: 3px;
}

.nav-button a {
	color: #fff;
	padding: 10px 15px;
}

.nav-button:hover {
	background-color: #3e8e41;
}